

.decalage{

margin-right:50px;

}

p
{
    color: black;
}






.blocktext {
    
    margin-right: 100px;
    margin-top:  -600px;
    
}




#mapid { 

    height: 700px;
    width: 1150px; 
   
    

 }


#mapid2 { 

    height: 700px;
    width: 800px; 
   
    

 }

.center-div {
     margin: 0 auto;
     width: 730px; 
}





h1
{
    color: black;
    margin-right:200;
}


h2
{
    color: black;
}




html{
    background: rgb(224,254,253);
    font: black;
}



ul{
    display: table;
    width: 950px;
    margin: 10px auto;
    padding: 0;
    background: linear-gradient(rgb(224,254,253), white);

    /*
      Pour que ça marche sur les navigateurs plus anciens (moz pour firefox, webkit pour chrome,safari,android,....)
    */
    background: -webkit-linear-gradient(rgb(224,254,253), white);
    background:    -moz-linear-gradient(rgb(224,254,253), white);
    background:     -ms-linear-gradient(rgb(224,254,253), white);
    background:      -o-linear-gradient(rgb(224,254,253), white);
    background:         linear-gradient(rgb(224,254,253), white);


    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);


}
ul li{
    display: table-cell;
}


ul li a{
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, .7); 
    text-decoration: none;
    padding: 8px 8px 17px 8px;



}

/*
Lors du survol avec la souris, on a un trait bleu en bas pour nous dire que l'on survole la case 
*/
ul li a:hover, 
ul li a:focus{
    background: rgba(224,240,255,.7);
    box-shadow: 0 1px 0 rgba(224, 214, 240, .7) inset, 
                0 -1px 0 hsl(180, 100%, 42%) inset, 
                0 -2px 0 hsl(180, 100%, 48%) inset, 
                0 -3px 0 hsl(180, 100%, 54%) inset, 
                0 -4px 0 hsl(180, 100%, 60%) inset, 
                0 -5px 0 hsl(180, 100%, 70%) inset; 
} 


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
